flask==2.3.3
flask-cors==4.0.0
requests==2.31.0
beautifulsoup4==4.12.2
lxml==4.9.3
pandas==2.0.3
numpy==1.26.4
peewee==3.18.1
matplotlib==3.9.4
yfinance==0.2.64
websockets==15.0.1
curl-cffi==0.11.4
multitasking==0.0.11
scipy==1.13.1
torch==2.4.0